<h1>Edit this Portfolio Item</h1>

<%= form_with(model: @portfolio_item) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= link_to 'Show', @portfolio_item %> |
  <%= link_to 'Back', portfolios_path %> |

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
